<div class="section">
    <div class="well">
        <div class="page-header">
            List of categories under Electronics
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li><a href="">Media</a></li>
                    <li><a href="">Cameras</a></li>
                    <li><a href="">Computers</a></li>
                    <li><a href="">Mobiles</a></li>
                    <li><a href="">Accessories</a></li>
                    <li><a href="">Chargers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="well">
        <div class="page-header">
            List of Products under Electronics
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li><a href="">Apple TV</a></li>
                    <li><a href="">Apple iPad</a></li>
                    <li><a href="">Chrome cast</a></li>
                    <li><a href="">Logitech mouse</a></li>
                    <li><a href="">Toshiba Chromebook</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>